.r1{
  font-weight: bold;
  background: white;
  /*width:75vw;*/
  margin: 2em auto; 
  line-height: 40px;
}
.r2{
  font-weight: bold;
  background:white;
  width:75vw;
  margin: 2em auto;
}
button{
  width: 100px;
  margin: auto 0;
}
button:hover{
  background-color: black;
  color: white;
}

.btn-container {   
  height: 50px;  
  position: relative;
}
.center {  
  margin: 0;  
  position: absolute;  
  left: 50%;
  -ms-transform: translate(-50%, 30%);  
  transform: translate(-50%, 30%);
}

h2 {
  height: 20px;
  width: fit-content;
  margin: 1.5em auto;
  font-family: 'Source Sans Pro', sans-serif;
}

h6 {
  height: auto;
  width: fit-content;
  margin: 1.5em auto;
}

footer {
  background-color: black;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.hlink {
  margin-left: 30px;
}

table {
  margin-top: 2em;
}

th:nth-child(1),th:nth-child(2),th:nth-child(3), h6{
  text-align: center;
}

.font-nav {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
}

html, body { 
  height: 100vh;
}

body { 
  display: grid;
}

.asteriskField {
  content-visibility: hidden;
}
table div > .container > .r1 > .table{
  /*background-color: #FFF4A1;*/
  border: 1px solid grey;
}

thead > tr:nth-child(1) {
  background-color: #AEB1B1;
}
tr > td:nth-child(5){
  display:none
}
tr > th:nth-child(5){
  display:none
}

ul.legend { 
  list-style: none; 
  border: 1px solid black;
  height: 50px;
  width: 100%;
  background-color: #aeb1b1;
  border-radius: 6px;
  display: flex;
  justify-content: space-evenly;
  margin-top:2em;
  padding-left:0px;
}

.legend li { 
  float: left; 
  margin-right: 20px; 
}

.legend span { 
  border: 0px solid #ccc; 
  float: left; 
  width: 20px;
  height: 20px; 
  margin: 10px; }

.legend .lesslikely { 
  background-color: #ffb654; 
}
.legend .likely { 
  background-color: #fff4a1; 
}
.legend .morelikely { 
  background-color: #a9ea74; 
}
@media screen and (max-width:460px){
  ul.legend{
    display:grid;
    grid-template-columns:1fr;
    height:8em;
  }
  ul.legend>li{
    margin-left:4em;
  }
  ul.legend>li>span{
    margin-right:4em;
  }
}

  
