.r1{
  font-weight: bold;
  background: white;
  width:75vw;
  margin: 2em auto; 
}
.r2{
  font-weight: bold;
  background:white;
  width:75vw;
  margin: 2em auto;
}
button{
  width: 100px;
  margin: auto 0;
}
button:hover{
  background-color: black;
  color: white;
}

.btn-container {   
  height: 50px;  
  position: relative;
}
.center {  
  margin: 0;  
  position: absolute;  
  left: 50%;
  -ms-transform: translate(-50%, 30%);  
  transform: translate(-50%, 30%);
}

h2 {
  height: 20px;
  width: fit-content;
  margin: 1.5em auto;
  font-family: 'Source Sans Pro', sans-serif;
}

h6 {
  height: auto;
  width: fit-content;
  margin: 1.5em auto;
}

footer {
  background-color: black;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.hlink {
  margin-left: 30px;
}

table {
  margin-top: 2em;
}

th:nth-child(3) {
  position: absolute;  
  left: 50%;
  -ms-transform: translate(-50%, 0%);  
  transform: translate(-50%, 0%);
}

.font-nav {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
}

html, body { height: 100vh; 
  min-width: 1vw;
}

body { 
  display: flex; 
  flex-direction: column; 
}

.asteriskField {
  content-visibility: hidden;
}