{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Predict the college you're gonna get an admission in using your KEAM rank">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'college_predictor/frontend1.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'college_predictor/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'college_predictor/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'college_predictor/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'college_predictor/favicon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'college_predictor/favicon-512x512.png' %}">
    <title>Allotment Predictor</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand font-nav" href="#">Keam Allotment Predictor</a>
              </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <h2>
            Predict your KEAM allotment
        </h2>
    </div>
    <div class="container r1">
        <form method="POST" class="container-fluid">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="btn-container">
                <div class="center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        {% if df_html %}
        {{ df_html | safe }}
        {% endif %}
        
        <ul class="legend">
         <li><span class="lesslikely"></span> Less likely</li>
         <li><span class="likely"></span> Likely</li>
         <li><span class="morelikely"></span> More likely</li>
       </ul>
    </div>
    <div>
        <h6>
            *This is not an official site of CEE. Results can vary. Use with discretion.
        </h6>
    </div>
    <footer>
        <div class="hlink">
            <span>
                Made with ⚡ at <a href="https://www.fisat.ac.in/">FISAT</a>
            </span>
        </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', (event) => {
            count = 0;
            $("tbody > tr ").each(function(){
                let href  = $(this).find("td:nth-child(5)").html();
                if( href != "NaN"){
                    let aTag =  $(document.createElement('a'));
                    let innerhtml = $(this).find("td:nth-child(3)").html();

                    aTag.attr('href',href);
                    aTag.html(innerhtml);
                    aTag.attr("target","blank");
                    $(this).find("td:nth-child(3)").html(aTag);
                }

                let rank = parseInt($("#id_rank").val());  
                let rank_in_tr = parseInt($(this).find("td:nth-child(4)").html());
                if(rank_in_tr < rank || count < 1){
                    $(this).css("background-color", "orange");
                    $(this).css("border", "1px solid grey");
                    count++;
                }
                else if(rank_in_tr < rank*2 || count<3){
                    $(this).css("background-color", "#FFF4A1");
                    $(this).css("border", "1px solid grey");
                    count++;
                }
                else{
                    $(this).css("background-color", "#A9EA74");
                    $(this).css("border", "1px solid grey");
                }
            });
        });
    </script>
</body>
</html>
